<html lang="en" class="has-background-white-bis">
<!-- Head -->
<%- partial('_partial/head') %>

<!-- Body -->
<body id="app">
  <!-- Top -->
  <!--<%- partial('_partial/banner') %>-->
  <%- partial('_partial/nav') %>

  <!-- Columns, Center Body -->
  <div class="columns is-gapless-mobile">
    <div class="column is-full-mobile is-half-desktop is-offset-one-quarter-desktop">
      <!-- Content -->
      <%- body %>
    </div>
  </div>
</body>
</html>
