<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- partial('_partial/head') %>

<!-- Body -->
<body id="app">
  <!-- Top -->
  <%- partial('_partial/nav') %>
  
  <!-- Columns, Center Body -->
  <div class="columns is-gapless is-marginless is-centered">
  <% if (is_current('/software-roadmap') || is_current('/tech-org-chart')) { %>
    <div class="column auto">
  <% } else { %>
    <div class="column is-full-mobile is-7-desktop">
  <% } %>
      <!-- Content -->
      <%- body %>
    </div>
  </div>

  <!-- Footer -->
  <%- partial('_partial/footer') %>

  <!-- MailChimp Popup form -->
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
  <script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"42dd023f38f1fdba0e00f4f48","lid":"e4f55cf82a","uniqueMethods":true}) })</script>
</body>
</html>
