// Colors
color-black = rgba(0,0,0,.84)
color-gray = #ddd

// Font
normal-size = 1.5em
line-spacing = 1.3em
letter-spacing = -0.005em
font-serif = 'EB Garamond', 'Times New Roman', 'Times', serif
font-sans = 'Roboto', 'Verdana', 'Arial', sans-serif
font-headers = 'Roboto', 'Verdana', sans-serif
