@import "_variables"

#app
  color color-black

#navbar-override
  border solid color-black
  border-width 0 0 1.5px
  .navbar-brand
    .navbar-item
      background url('/img/logo-long.png') no-repeat center center
      background-size cover
      width 152px
      margin 0 20px 0 0

#section-override
  padding-top 1.5rem

#column-gap
  margin-right 10px

#less-top-padding
  padding-top 0

hr
  background-color color-gray

section
  img
    width 70%
    display block
    margin-left auto
    margin-right auto
    padding 25px 0
  article
    font-family font-serif
    h1
      font-size 2em
      padding 30px 0 5px 0
      line-height 1.1em
    h2
      font-size 1.5em
      padding 15px 0 5px 0
    h3
      font-size 1.25em
    h4
      font-size 1em
    h1,h2,h3,h4
      font-family font-headers
      font-weight bold
    p
      padding 5px 0 25px 0
      font-size normal-size
      letter-spacing letter-spacing
      line-height line-spacing
    ul,ol
      font-size normal-size
      margin-left 50px
      padding 15px 0
      letter-spacing letter-spacing
      line-height line-spacing
      li
        padding-bottom 15px
    ul
      list-style circle
    ol
      list-style decimal
    blockquote
      font-style italic
      font-size 0.8em
      border-left solid color-black
      p,span
        padding 5px 0
    div.tag-cloud
      ul, ol
        font-weight bold
        font-size 1em

blockquote
  padding 10px 20px
  font-family font-sans
  font-size 1.2em
  margin 1.4em 0px
  background #f3f5f9
.font-serif
  font-family font-serif
.font-sans
  font-family font-sans
.tag-cloud
  a
    margin 10px
.tag-section
  padding-bottom 20px
