@import "_variables"

#navbar-override
  border solid color-black
  border-width 0 0 1.5px
  .navbar-brand
    .navbar-item
      background url('/img/logo-long.png') no-repeat center center
      background-size cover
      width 152px
      margin 0 20px 0 0

blockquote
  padding 10px 20px
  font-size 1.1em
  margin 1.4em 0px
  border-left solid color-black
  background #f3f5f9

section
  p
    padding 20px 0
    font-size 1.2em

h1
  font-size 2em
  padding 20px 0 10px 0
