@import "_variables"

#app
  color color-black

#navbar-override
  border solid color-black
  border-width 0 0 1.5px
  .navbar-brand
    .navbar-item
      background url('/img/logo-long.png') no-repeat center center
      background-size cover
      width 152px
      margin 0 20px 0 0

#section-override
  padding-top 1.5rem

#column-gap
  margin-right 10px

#less-top-padding
  padding-top 0

hr
  background-color color-gray

section
  figure.article-image-center, figure.article-image-left
    display block
    margin-left auto
    margin-right auto
    padding 25px 0
    width 70%
    figcaption
      text-align center
  img
    display block
    margin-left auto
    margin-right auto
  img, video
    width 100%
  article
    font-family font-serif
    h1
      font-size 2em
      padding 30px 0 5px 0
      line-height 1.1em
    h2
      font-size 1.5em
      padding 15px 0 5px 0
    h3
      font-size 1.25em
    h4
      font-size 1em
    h1,h2,h3,h4
      font-family font-headers
      font-weight bold
    p
      padding 5px 0 25px 0
      font-size normal-size
      letter-spacing letter-spacing
      line-height line-spacing
      code
        font-size code-size
    ul,ol
      font-size normal-size
      margin-left 50px
      padding 15px 0
      letter-spacing letter-spacing
      line-height line-spacing
      li
        padding-bottom 15px
      code
        font-size code-size
    ul
      list-style circle
    ol
      list-style decimal
    blockquote
      font-size code-size
      border-left solid color-black
      p,span
        padding 10px 0
    div.tag-cloud
      ul, ol
        font-weight bold
        font-size 1em

blockquote
  padding 10px 20px
  font-family font-sans
  font-size 1.2em
  margin 1.4em 0px
  background #f3f5f9
.font-serif
  font-family font-serif
.font-sans
  font-family font-sans
.tag-cloud
  a
    margin 10px
.tag-section
  padding-bottom 20px

// https://stackoverflow.com/questions/54506663/how-to-achieve-word-break-in-bulma-level-component-and-set-equal-width-to-the-le
.level
  display flex
  .level-left
    min-width 0
    word-break break-word
    flex-basis 50%

    .level-item
      flex-direction column
      word-break break-word
      padding 0
      flex-shrink 1
      text-align left

  .level-right
    min-width 0
    word-break break-word
    flex-basis 50%

    .level-item
      flex-direction column
      word-break break-word
      padding 0
      flex-shrink 1
      text-align right

.mc-layout__modalContent
  border-radius 10px

.is-disabled
  pointer-events none
  opacity .65

.arrow 
  border solid black
  border-width 0 3px 3px 0
  display inline-block
  padding 3px
  margin-left 7px

.down 
  transform rotate(45deg)
  -webkit-transform rotate(45deg)

