<div id="dropdownSearch" class="dropdown is-right">
  <div class="dropdown-trigger">
    <a class="field">
      <p class="control has-icons-left" aria-haspopup="true" aria-controls="dropdown-menu">
        <input id="searchBar" class="input" type="search" placeholder="Search..." >
        <span class="icon is-small is-left">
          <%- fa_inline('search', {prefix: 'fas'}) %>
        </span>
      </p>
    </a>
  </div>
  <div class="dropdown-menu" role="menu">
    <div id="dropdownContent" class="dropdown-content"></div>
  </div>
</div>
